Once setting service account and its key as environmental variable, you can connect to bq using the following approach.

# Get: Run query and get data from BigQuery

## 1. pandas-gbq

In [19]:
%%time
# pandas-gbq

import pandas as pd
PROJECT_ID = 'research-megi'

sql = """
    SELECT ga_gender, PaperId
    FROM `research-megi.Acknowledgement.AcknowledgedGender`
    LIMIT 100
"""

# Run a Standard SQL query using the environment's default project
df = pd.read_gbq(sql, dialect='standard')
# df = pandas.read_gbq(sql, project_id='research-megi', dialect='standard', use_bqstorage_api=True)
df

CPU times: user 69 ms, sys: 6.91 ms, total: 75.9 ms
Wall time: 956 ms

   ga_gender     PaperId
0    unknown  2040138931
1    unknown  2067386870
2    unknown  2901642773
3    unknown  2823472156
4    unknown  2270582783
..       ...         ...
95   unknown  2069932918
96   unknown  2014834660
97   unknown  1976030566
98   unknown  2014200373
99   unknown  2140311806

[100 rows x 2 columns]

## 2. google-cloud-bigquery

In [20]:
%%time
# google-cloud-bigquery:

from google.cloud import bigquery as bq

client = bq.Client()
sql = """
    SELECT ga_gender
    FROM `research-megi.Acknowledgement.AcknowledgedGender`
    LIMIT 100
"""

# Run a Standard SQL query using the environment's default project
df = client.query(sql).to_dataframe()
df

CPU times: user 202 ms, sys: 14.7 ms, total: 217 ms
Wall time: 1.96 s

   ga_gender
0    unknown
1    unknown
2    unknown
3    unknown
4    unknown
..       ...
95   unknown
96   unknown
97   unknown
98   unknown
99   unknown

[100 rows x 1 columns]

## 3. IPython Magics for BigQuery

In [12]:
%load_ext google.cloud.bigquery

In [13]:
%%bigquery df --use_bqstorage_api
SELECT ga_gender
FROM `research-megi.Acknowledgement.AcknowledgedGender`
LIMIT 100

Query is running:   0%|          |

Downloading:   0%|          |

In [14]:
df

   ga_gender
0    unknown
1    unknown
2    unknown
3    unknown
4    unknown
..       ...
95   unknown
96   unknown
97   unknown
98   unknown
99   unknown

[100 rows x 1 columns]

# Write: Create BigQuery table from pandas dataframe

In [22]:
import pandas as pd
from google.cloud import bigquery as bq

# Example data
df = pd.DataFrame({'a': [1,2,4], 'b': ['123', '456', '000']})

# Load client
client = bigquery.Client()

# Define table name, in format dataset.table_name
# At least `example-dataset` should exist in BigQuery.
table = 'example-dataset.example-table'

# Load data to BQ
job = client.load_table_from_dataframe(df, table)